[user]
    name               = YOURNAME YourFirstname
    email              = xxxxxxxxx@xxxxxxxxxxxx.xxxx
    username           = xxxxxxxxx
[alias]
    st                 = status
    ci                 = commit -v
    co                 = checkout
    br                 = branch -v
    bra                = branch -v -a
    lg                 = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit
    lga                = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --all
    di                 = diff -M
    oups               = commit --amend -C HEAD
    unstage            = reset HEAD
    uncommit           = update-ref HEAD HEAD^
    who                = shortlog -s -n --no-merges
    standup            = shortlog --since=yesterday
    today              = shortlog --since=midnight
    changes            = diff-tree --no-commit-id --name-status -r HEAD
    lint               = ! git status --porcelain    | /bin/grep -e '^[AUM ][UM ].*\\.php$'       | awk '{print $2}' | xargs --no-run-if-empty -L 1 php -l
    php-cs-fixer       = ! git status --porcelain    | /bin/grep -e '^[AUM ][UM ].*\\.php$'       | awk '{print $2}' | xargs --no-run-if-empty -L 1 php $(which php-cs-fixer) fix --quiet
    lint-all           = ! git status --porcelain -u | /bin/grep -e '^[AUM\\? ][UM\\? ].*\\.php$' | awk '{print $2}' | xargs --no-run-if-empty -L 1 php -l
    fix-all            = ! git status --porcelain -u | /bin/grep -e '^[AUM\\? ][UM\\? ].*\\.php$' | awk '{print $2}' | xargs --no-run-if-empty -L 1 php $(which php-cs-fixer) fix --quiet
    cs                 = ! $(which phpcs)  -p --colors --standard=PSR2 `git status --porcelain    | /bin/grep -e '^[AUM ][UM ].*\\.php$'       | awk '{print $2}'`
    cs-staged          = ! $(which phpcs)  -p --colors --standard=PSR2 `git status --porcelain    | /bin/grep -e '^[M ][M ].*\\.php$'          | awk '{print $2}'`
    cs-new             = ! $(which phpcs)  -p --colors --standard=PSR2 `git status --porcelain -u | /bin/grep -e '^[\\? ][\\? ].*\\.php$'      | awk '{print $2}'`
    cs-all             = ! $(which phpcs)  -p --colors --standard=PSR2 `git status --porcelain -u | /bin/grep -e '^[AUM\\? ][UM\\? ].*\\.php$' | awk '{print $2}'`
    cbf                = ! $(which phpcbf) -p --colors --standard=PSR2 `git status --porcelain -u | /bin/grep -e '^[AUM\\? ][UM\\? ].*\\.php$' | awk '{print $2}'`
    chk-dump           = ! git status --porcelain -u | /bin/grep -e '^[AUM\\? ][UM\\? ].*\\.php$' | awk '{print $2}' | xargs --no-run-if-empty -L 1 egrep -nH --color 'var_export|dump|var_dump|print_r'
    fix                = ! git php-cs-fixer
    gone               = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -D; }; f"
    aliases            = config --get-regexp alias
[color]
    ui                 = auto
[color "branch"]
    current            = yellow reverse
    local              = yellow
    remote             = green
[color "diff"]
    meta               = yellow bold
    frag               = magenta bold
    old                = red bold
    new                = green bold
[color "status"]
    added              = yellow
    changed            = green
    untracked          = cyan
[core]
    autocrlf           = input
    excludesfile       = ~/.gitglobalexclude
[filter "lfs"]
    clean              = git-lfs clean -- %f
    smudge             = git-lfs smudge -- %f
    required           = true
[push]
    default            = tracking
[status]
    showUntrackedFiles = all
[fetch]
    prune              = true
[credential]
    helper             = cache
