[user]
    name  = YOURNAME YourFirstname
    email = xxxxxxxxx@xxxxxxxxxxxx.xxxx
[alias]
    st              = status
    ci              = commit -v
    co              = checkout
    br              = branch -v
    bra             = branch -v -a
    lg              = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit
    lga             = log --graph --pretty=tformat:'%Cred%h%Creset -%C(cyan)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --all
    di              = diff -M
	oups            = commit --amend -C HEAD
    unstage         = reset HEAD
    uncommit        = update-ref HEAD HEAD^
[color]
    ui              = true
[core]
    autocrlf        = input
	excludesfile    = ~/.gitglobalexclude
[filter "lfs"]
	clean           = git-lfs clean -- %f
	smudge          = git-lfs smudge -- %f
	required        = true
